* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1d1f21;
    color: #ffffff;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color:  #ffd54f;
}

.contenido {
    max-width: 600px;
    margin: auto;
    background-color: #2c2f33;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    color:  #00c853;
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    color:  #ffd54f;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

strong {
    color: #00c853;
}

.contacto {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #555;
}
